
.add1row{
  margin: 10px 0px 0px 15px;
} 
.secondrow{
  margin: 10px 0px 0px 15px;
}

.addcontent{
  display: flex;
  flex-direction: row;
  align-content: center;

}
.css-1yk1gt9-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root {
  width: 70%;
}

.Submit{
  display:flex;
  width: 30%;
  justify-content: space-evenly;
  margin: 10px 0px 0px 0px;
}

