h1{
  
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.wholecontent{
  justify-content: first baseline;
}

.Name{
  text-align: justify;
}
.Phone{
  align-content:start;

  text-align: start;
}

.firstrow{
  
  text-align: justify;
  display: flex;
  flex-direction: row;

}
.Password{
  padding-left:20%;
}
.Reenterpassword{
  
    padding-left:5%;
  }



input[type=text]{
  width:200px;
  height: 40px;
  border-radius: 10px;
}

input[type=email]{
  width:200px;
  height: 35px;
  border-radius: 10px;;
}

input[type=tel]{
  width:200px;
  height: 35px;
  border-radius: 10px;
  display: flex ;
  
}

select{
  width: 150px;;
  height: 35px;
  border-radius: 10px;
  display:flex;
}


input[type=submit]{
  
  width: 20em;  height: 2em;
  
  border-radius: 100%;
  text-align:center;
  align-content: center;
}
input[type=password]{
  text-align: justify;
  width:200px;
  height: 35px;
  border-radius: 10px;;
}
.Submit{
  border-width: 10%;
  text-align: center;
}



.childrow{
  width: 100%;
  display: flex;
  flex-direction: column;
}
.editaddelete{
  padding: 10%;
  display: flex;

}
input[type=button]{
  display: flex;
  padding: 10px;
  border-radius: 100px;
  width: 5%;
}


/* DASHBOARD */
#editbutton{
  /* border: 5px solid red; */
  background-color: rgb(0, 204, 255);
}
#deletebutton{
  background-color: red;
}
#detailbutton{
  border-color: rgb(0, 26, 255);
  border-bottom: 30px;
}
.heading{
  text-align: left;
  background-color: aqua;
}
.back{
  background-color: rgb(21, 95, 161);
  margin:0;
  padding: 0;
  max-width: 100vw;
  max-height: 100vh;
}
/* userdetails */

.detailheading{
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
  color:black;
  
  
}    
.Detailsviewpage{
  text-align: center;
  display: flex; 
  flex-direction: column;
  align-content: center;
  
  break-inside: avoid-column;
  background-position-x: center;

}
b{
  color:blue;
  
}
b:hover{
  color: blueviolet;

}

.datas{
  color:black;
  background-color: aliceblue;
  border-radius: 10px;
  border-color: black;
}